In [1]:
import pandas as pd

In [3]:
datas = pd.read_csv('data-inflasi.csv');

In [4]:
datas.head()

           Month Inflasi
0      Juni 2019   3.28%
1       Mei 2019   3.32%
2     April 2019   2.83%
3     Maret 2019   2.48%
4  Februari 2019   2.57%